#index-container {
	display: block;
}

#comic-container {
	display: none;
	text-align: center;
}
body { color: rgb(230,230,242); background-color: rgb(29,42,50); }
a {text-decoration: none; color: rgb(230,200,120); }
a:hover {text-decoration: underline; color: rgb(255,240,80); }
p { max-width: 720px }
big { font-family: Verdana, Tahoma, helvetica; font-size: 12pt; font-weight: bold }
div,input,select { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
div.in { padding: 20px; position: absolute; left: 0px; top: 0px; }
div.in.double { padding-top: 40px; }
div.content { min-width: 720px; border: 1px solid rgb(133,162,179); background-color: rgb(61,80,92); padding: 3px 12px; }

div.contbar { position: absolute; left: 32px; top: 22px; }
div.contbar a { float: left; background-color: rgb(133,162,179); border: 1px solid rgb(133,162,179); color: black; padding: 2px 7px 1px 7px; border-bottom-color: rgb(133,162,179); margin: 0px 6px 0px 0px; }
div.contbar a:hover { color: rgb(255,240,80); background-color: rgb(61,80,92); border-bottom-color: rgb(61,80,92); }
div.contbar a.akt { background-color: rgb(61,80,92); border-bottom-color: rgb(61,80,92); color: rgb(230,200,120); }

input,select,textarea { border: 1px solid rgb(133,162,179); background-color: rgb(80,105,120); color: white }